<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>aiweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RequestAgents</display-name>
    <servlet-name>RequestAgents</servlet-name>
    <servlet-class>servlet.RequestAgents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestAgents</servlet-name>
    <url-pattern>/RequestAgents</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>RequestAgentsScripts</display-name>
    <servlet-name>RequestAgentsScripts</servlet-name>
    <servlet-class>servlet.RequestAgentsScripts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestAgentsScripts</servlet-name>
    <url-pattern>/RequestAgentsScripts</url-pattern>
  </servlet-mapping>
  
	<servlet>
	  <servlet-name>dwr-invoker</servlet-name>
	  <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
	  <init-param>
	     <param-name>debug</param-name>
	     <param-value>true</param-value>
	  </init-param>
	</servlet>
	
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SettingsServlet</servlet-name>
    <servlet-class>servlet.SettingsServlet</servlet-class>
  </servlet>

	
	<servlet-mapping>
	  <servlet-name>dwr-invoker</servlet-name>
	  <url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>SettingsServlet</servlet-name>
    <url-pattern>/servlet/SettingsServlet</url-pattern>
  </servlet-mapping>  
  
</web-app>