	.edit{
			height:18px; 
			width:150px; 
			font-size:11px
		}
	.edit2{
			height:18px; 
			width:100px; 
			font-size:11px
		}
		
	.label{
			font-size:12px; 
			font-family:'Courier New', Courier, monospace
			
		}
	.labelRis{
			font-size:12px; 
			font-family:Georgia, 'Times New Roman', Times, serif"		
		}